*{
    margin: 0;
    padding: 0%;
    
}
h1{
    height: 0;
}
.welcome{
    background: url('https://res.cloudinary.com/dweiaqd6l/image/upload/v1659991466/pexels-joyston-judah-933054_ikxy2e.jpg');    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}