@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0%;
    font-family: Lato, sans-serif;
    font-weight: 600;
}
body{
    height: 100vh;
}
#light {
    /* background-image: linear-gradient(90deg, rgba(165, 122, 202, 0.4),rgba(165, 122, 202, 0.4),rgba(165, 122, 202, 0.4)), url(https://res.cloudinary.com/dweiaqd6l/image/upload/v1659991466/pexels-joyston-judah-933054_ikxy2e.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: rgb(66, 132, 212);
    color: #111;
}
#dark{
    /* background-image: linear-gradient(90deg, rgba(17, 17, 17, 0.654),rgba(17, 17, 17, 0.654),rgba(17, 17, 17, 0.654)), url(https://res.cloudinary.com/dweiaqd6l/image/upload/v1659991466/pexels-joyston-judah-933054_ikxy2e.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    color: snow;
}